.three-steps {
  margin-bottom: 50px;

  background: url("../img/3steps-bg.jpg") no-repeat;
  background-position: 100%;
  background-position: 0 -200px;
  background-size: cover;

  height: 1100px;
}

.three-steps__title h2 {
  margin: 0 auto;
  margin-bottom: 38px;

  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;

  font-family: "Geometria-Bold";

}
.three-steps__list {
  .container();
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: center;

  margin-bottom: 300px;
}
.three-steps__item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  flex-direction: column;
  align-items: center;

  min-width: 300px;
  padding: 0 30px;
}
.three-steps__item::after {
  content: url("../img/double-right.png");
  width: 50px;
  height:50px;

}
.three-steps__item-title {
  color: #0081bb;

  font-size: 25px;

  font-family: "Geometria-Bold";

  text-align: center;
}

.three-steps__item h4 {
  margin-bottom: 10px;

}
.three-steps__text {
  padding: 10px 10px;
  text-align: center;

  color: #0081ba;

  font-family: "Geometria";
}
