/////////////////////////////////////////////////////
//// BETTER-TO-SEE  ЛУЧШЕ ОДИН РАЗ УВИДЕТЬ   ////////
////////////////////////////////////////////////////

.better-to-see {
  order: 10;

  background: url("../img/better-to-see-bg.jpg") no-repeat;
  background-size: cover;
}

.better-to-see__container-wrap {
  .container();

  padding-top: 80px;
  padding-bottom: 142px;

  color: #ffffff;

  @media @phone-width {
    padding-top: 26px;
    padding-bottom: 50px;
  }

}

.better-to-see__title {
  margin: 0 auto;
  margin-bottom: 38px;

  font-size: 55px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;

  font-family: "Geometria-Bold";

  @media @phone-width {
    margin-bottom: 22px;

    font-size: 24px;
    line-height: 30px;
  }
}

.better-to-see__info {
  max-width: 510px;
  margin: 0 auto;
  margin-bottom: 40px;

  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  font-family: "Geometria-Bold";

  @media @phone-width {
    margin-bottom: 18px;

    font-size: 16px;
    line-height: 24px;
  }
}

.better-to-see__form {
  max-width: 806px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;

  @media @tablet-width {
    flex-direction: column;
    align-items: center;
  }

  & label {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    max-width: 284px;
    margin-right: 10px;

    font-size: 24px;
    line-height: 30px;

    @media @phone-width {
      margin-bottom: 18px;

      font-size: 16px;
      line-height: 24px;
    }


  }

  & input {
    padding: 10px 20px;

    border-radius: 8px;

    font-size: 24px;
    line-height: 30px;

    @media @phone-width {
      font-size: 16px;
      line-height: 24px;
    }
  }

  @media @phone-width {
    flex-direction: column;
    align-items: center;
  }
}

.better-to-see__submit {
  padding: 17px 46px;

  background-color: #62db55;
  border-radius: 28px;

  color: #ffffff;

  font-family: "Geometria-Medium";
  font-size: 29px;
  line-height: 20px;

  cursor: pointer;

  @media @phone-width {
    padding: 13px 22px;

    font-size: 16px;
    line-height: 24px;
  }
  @media @tablet-width {
    margin-top: 25px;
  }

}
