.copyright {
  .container();

  padding-top: 78px;
  padding-bottom: 58px;

  text-align: center;

  & p {
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0;

      text-decoration: underline;
    }
  }
}
