.general-plan {
  .container();

  margin-bottom: 50px;
}
.general-plan .wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: space-around;

}

.general-plan__title {
  margin: 0 auto;
  margin-bottom: 38px;

  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;

  font-family: "Geometria-Bold";
}
/* пока картинки нет, поставил заглушку */
.general-plan-map {
  width: 990px;
  height: 600px;

  background: #c6c6c6;

  margin: 0 auto;
  margin-bottom: 30px;;
}

.general-plan__status--sold::before {
  content: "";

  width: 38px;
  height: 38px;

  background: #98e98b;

  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;

  display: block;
  position: relative;
  left: 30px;
}


.general-plan__status--available::before {

  content: "";

  width: 38px;
  height: 38px;

  background: #ff8484;

  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;

  display: block;
  display: block;
  position: relative;
  left: 18px;

}

.general-plan__excursion::before {
  display: inline-block;
  float: left;
  position: relative;
  top:-5px;

  content:url('../img/eye.png');

  width: 62px;
  height: 40px;

  margin-right: 10px;


}

.general-plan__excursion {
  float: right;
  color:#62db55;

  text-decoration: underline;

  font-size: 20px;
  line-height: 26px;



  font-family: "Geometria";

  cursor: pointer;

}
